html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: whitesmoke;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(197, 171, 153);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;;

}
li{
    display: inline-block;
    margin: 15px;
}
li a{
    text-decoration: none;
    padding: 15px 20px;
    color: black;
    font-size: 20px;
}
li a:hover{
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    }
.section h2{
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.section{
    background-color: antiquewhite;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
}
.section img{
    width: 300px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;}